{% extends "base.html" %}
{% block title %}User Map - Matcha{% endblock %}
{% block content %}
<div class="map-page">
    <h1>Discover Users Near You</h1>
    <div id="user-map"
         data-lat="{{ current_user.latitude or 46.5 }}"
         data-lng="{{ current_user.longitude or 6.6 }}"
         data-api="{{ url_for('map.users_json') }}"></div>
</div>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}
